a{
  text-decoration: none;
}
a:visited{
  color:#333333;
}
.navbar{
  width: 100%;
  background-color: #5B7F71;
  padding-top: 15px;
  margin: 0px;
  font-size: 30px;
  margin-bottom: 10px;
}
.navbar >li {
  display: inline-block;
  padding-left: 20px;
  color:#333333;

}
